{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie 9",
            "iOS 9"
          ]
        },
        "modules": false,
        "useBuiltIns": "entry", // usage
        "loose": false,
        "debug": false,
        "include": []
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "lodash",
    "transform-decorators-legacy",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "react-css-modules",
      {
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        },
        "generateScopedName": "[local]_[hash:base64:6]",
        "webpackHotModuleReloading": false,
        "handleMissingStyleName": "warn"
      }
    ]
  ]
}
