{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    [
      "lodash",
      {
        "id": [
          "lodash"
          // "recompose"
        ]
      }
    ]
  ],
  "comments": false,
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
