{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "linebreak-style": ["error", "windows"]
    //"comma-dangle": ["error", "never"]
  },
  "env" :{
    "browser": true
  }
}