.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fs-28 {
  font-size: 28px;
}

.fs-32 {
  font-size: 32px;
}

