:global(.example-enter) {
  opacity: 0.01;
  transition: opacity 1.5s;
}

:global(.example-enter.example-enter-active) {
  opacity: 1;
}

:global(.example-leave) {
  transition: opacity 1.5s;
  opacity: 1;
}

:global(.example-leave.example-leave-active) {
  opacity: 0.01;
}

.test {
  color: red;
}
